table {
   width: 100%;    
 }
 
.divclass{
    padding-left: 20px;
    padding-right: 20px;
}

.btnCenter{
   margin-top: 10px;
   margin-bottom: -20px;
}
.bgColor{  
  color: #0047AB;
}
.fontSizeBold{
  font-size: large;
  /* font-weight: bold; */
}
.ModelPopUpClass{
  background-color: grey;width: 980px;
}
.Tableclass th {
 /* background-color: black; */
 border: 1px solid #ddd;
 font-size: medium;
 color:black;
 padding-left: 10px;
 background-color: slategrey;
}
.Tableclass td{
 border: 1px solid #ddd;
 /* text-align: center; */
 /* margin-left: 10px; */
 color: black;
 padding-left: 10px;
}
.modalTagReg{
 margin-left: -84px;
 text-align: center;
}
.person_pin {
 width: 128px;
 margin-left: -30px;
}
.avatar{
 float: left;
 padding: 2px;
}

.ViewPoptable td, th{
 border: 1px solid #dddddd;
 text-align: left;
 padding: 8px;
}

