<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Change Password</h4>
                <p class="card-category">Fill in the details</p>
            </div>
            <div class="card-body">

                <div class="row justify-content-center"> 
                    <div class="col-md-4 text-center">
                        <form *ngIf="!success" #f="ngForm" (ngSubmit)="onSubmit()">
                            <!-- <br></br> -->
                            <div class="form-group">
                                <mat-form-field class="example-full-width form-group">
                                <input matInput placeholder="Old Password" required type="password" id="oldPassword" name="oldPassword" [(ngModel)]="usermodel.oldPassword">
                                </mat-form-field>
                            </div>
                        
                            <div class="form-group">
                                <!-- <label for="newPassword" class="sr-only">New Password</label>
                                <input type="password" id="newPassword" name="newPassword" [(ngModel)]="usermodel.newPassword" class="form-control" placeholder="New Password" required aria-describedby="passwordHelp"> -->
                                <mat-form-field class="example-full-width form-group">
                                    <input matInput placeholder="New Password" required  type="password" id="newPassword" name="newPassword" [(ngModel)]="usermodel.newPassword">
                                </mat-form-field>
                                <!-- <small id="passwordHelp" class="form-text text-muted">Min. 6 characters with at least one non alphanumeric character</small> -->
                            </div>
                            <div class="form-group">
                            <!-- <label for="newPassword" class="sr-only">Confirm Password</label>
                            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="usermodel.confirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="passwordHelp" required>      -->
                            <mat-form-field class="example-full-width form-group">
                                <input matInput placeholder="Confirm Password" required  type="password" id="confirmpassword" name="confirmpassword" [(ngModel)]="usermodel.confirmpassword">
                            </mat-form-field>
                            <small id="passwordHelp" class="form-text text-muted">Min. 6 characters with at least one non alphanumeric character</small>
                            </div> 
                        <input type="text" hidden id="email" name="email" [(ngmodel)] = "usermodel.email" value='{{userId}}' class="form-control" placeholder="email" [(ngModel)]="usermodel.email">  
                        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.form.valid">Go</button> 

                        <ngx-spinner></ngx-spinner>   
        <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
            <strong>Oops!</strong> {{error}}
        </div>     
      </form>     
      <!-- <form class="form-group" [formGroup]="fg" (ngSubmit)="SavePractitionerData()">

      </form> -->
      <div *ngIf="success" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Success!</h4>
          <p id='relogin' (click)="relogin" >Your passsword reset successfully, <a routerLink="/login" href="/login"><b>Please login</b></a> to continue.</p>        
      </div>  
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
  <!-- <ngx-spinner></ngx-spinner>   -->
  
  