<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-user-md"></i>
                      </div>
                      <p class="card-category">Doctor</p>
                      <h3 class="card-title">49/50
                          <small></small>
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons text-info">read_more</i>
                          <a href="/doctor"> See all</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-user-md"></i>
                      </div>
                      <p class="card-category">Nurses</p>
                      <h3 class="card-title">70/80</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-info">read_more</i> 
                          <a href="/nurse"> See all</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-user"></i>
                      </div>
                      <p class="card-category">Patient</p>
                      <h3 class="card-title">245</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons text-info">read_more</i> 
                        <a href="/patient"> See all</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-ambulance"></i>
                      </div>
                      <p class="card-category">Visits</p>
                      <h3 class="card-title">75/7 Days</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-info">read_more</i> 
                          <a href="javascript:void(0)"> See all</a>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
      <div class="row">
          <div class="col-md-12">
              <div class="card card-chart">
                  <div class="card-header card-header-success">
                      <div class="ct-chart" id="dailySalesChart"></div>
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Daily Visits</h4>
                      <p class="card-category">
                          <span class="text-success"><i class="fa fa-long-arrow-up"></i> 55% </span> increase in today visits.</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> updated 4 minutes ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
