<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav 
                 [opened]="!isScreenSmall" 
                 [mode]="isScreenSmall ? 'over' : 'side'" class="mat-elevation-z10">
        
        <mat-toolbar style="background-color: slategrey;" class="mat-elevation-z6 tbar">
            <span><mat-icon style="vertical-align: middle;">assignment_ind</mat-icon><span style="vertical-align: middle;"> {{name}} </span></span>
        </mat-toolbar>
        
        <div>
            
            <mat-selection-list #x [multiple]="false">
                
                <mat-list-option [value]="'inbox'" *ngIf="this.role=='doctor' || this.role=='patient'" (click)="DoSomething($event)" selected>
                    <span><mat-icon style="vertical-align: middle;">schedule</mat-icon><span style="vertical-align: middle;"> Inbox</span></span>
                  </mat-list-option>
                <mat-list-option [value]="'doctorsection'" *ngIf="this.role=='admin'" (click)="DoSomething($event)" >
                  <span><mat-icon style="vertical-align: middle;">medical_services</mat-icon><span style="vertical-align: middle;"> Doctor Section</span></span>
                </mat-list-option>
                <mat-list-option [value]="'nursesection'" *ngIf="this.role=='admin'" (click)="DoSomething($event)">
                    <span><mat-icon style="vertical-align: middle;">content_paste</mat-icon><span style="vertical-align: middle;"> Nurse Section</span></span>
                </mat-list-option>                
                <mat-list-option [value]="'patientsection'" *ngIf="this.role=='admin'" (click)="DoSomething($event)">
                    <span><mat-icon style="vertical-align: middle;">person</mat-icon><span style="vertical-align: middle;"> Patient Section</span></span>
                </mat-list-option>

                <mat-list-option *ngIf="this.role=='doctor' || this.role=='nurse'" [value]="'viewappointments'" (click)="DoSomething($event)">
                    <span><mat-icon style="vertical-align: middle;">visibility</mat-icon><span style="vertical-align: middle;"> Appointment List</span></span>
                  </mat-list-option>
                  <!-- <mat-list-option *ngIf="this.role=='doctor'" [value]="'patientvisitdoctor'" (click)="DoSomething($event)">
                    <span><mat-icon style="vertical-align: middle;">visibility</mat-icon><span style="vertical-align: middle;"> Patient Visit</span></span>
                  </mat-list-option>
                  <mat-list-option *ngIf="this.role=='nurse'" [value]="'patientvisitnurse'" (click)="DoSomething($event)">
                    <span><mat-icon style="vertical-align: middle;">visibility</mat-icon><span style="vertical-align: middle;"> Patient Visit</span></span>
                  </mat-list-option> -->
                  <mat-list-option *ngIf="this.role=='patient'" [value]="'viewdata'" (click)="DoSomething($event)">
                    <span><mat-icon style="vertical-align: middle;">visibility</mat-icon><span style="vertical-align: middle;"> My Data</span></span>
                </mat-list-option>
                  <mat-list-option *ngIf="this.role=='patient'" [value]="'bookappointment'" (click)="DoSomething($event)">
                      <span><mat-icon style="vertical-align: middle;">content_paste</mat-icon><span style="vertical-align: middle;"> Book Appointment</span></span>
                  </mat-list-option>
                  <!-- <mat-list-option [value]="'changepassword'" (click)="DoSomething($event)">
                    <span><mat-icon style="vertical-align: middle;">password</mat-icon><span style="vertical-align: middle;"> Change Password</span></span>
                </mat-list-option> -->
            </mat-selection-list>
            
        </div>

        
    </mat-sidenav>
    
    <mat-sidenav-content class="example-sidenav-content">
        <app-toolbar (toggle)="sidenav.toggle()"></app-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

