<!-- Default form login -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Sign in</p>
  
    <!-- Email -->
    <input type="email" id="defaultLoginFormEmail" class="form-control mb-4" placeholder="E-mail">
  
    <!-- Password -->
    <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password">
  
    <div class="d-flex justify-content-around">
      <div>
        <!-- Forgot password -->
        <a href="">Forgot password?</a>
      </div>
    </div>
  
    <!-- Sign in button -->
    <button mat-raised-button color="accent" (click)="Login()">
      Login
    </button>
  
    <!-- Register -->
    <p>Not a member?
      <a href="/register">Register</a>
    </p>
  
     
  </form>
  <!-- Default form login -->
  <ngx-spinner></ngx-spinner>