.sidenav-toggle
{
    display: none;
}

@media(max-width: 720px) {
      .show
      {
          display: flex;
      }      
}

.logout-icon {
    padding: 0 14px;
}

.logout-spacer {
    flex: 1 1 auto;
}

.tbar {
    position: relative;
    z-index: 2;
}

.color-white
{
    color: white;
}

