<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">{{this.userrole}} Registraion</h4>
                <p class="card-category">Fill in the details</p>
            </div>
            <div class="card-body">

    <form class="form-group" [formGroup]="fg" (ngSubmit)="SavePractitionerData()">
        
        <div class="row" style="display: none;">
            <div class="form-group col-md-6">
                <!-- <mat-form-field class="example-full-width form-group">
                    <input matInput type='text'  formControlName='id' >
                </mat-form-field> -->
                <span class="asterisk" *ngIf="fg.get('firstname').touched && fg.get('firstname').errors?.required">FirstName is required!</span>
            </div>
        </div> 
        <div class="row">
            <div class="form-group col-md-6">
                <mat-form-field class="example-full-width form-group">
                    <input matInput placeholder="First Name" required type="text" formControlName="firstname">
                </mat-form-field>
                <span class="asterisk" *ngIf="fg.get('firstname').touched && fg.get('firstname').errors?.required">FirstName is required!</span>
            </div>
            <div class="col-md-6 form-group" >
                <mat-form-field class="example-full-width form-group">
                    <input matInput placeholder="Last Name" required type="text" formControlName="lastname">
                </mat-form-field>
                <span class="asterisk" *ngIf="fg.get('lastname').touched && fg.get('lastname').errors?.required">
                    LastName is required!
                </span>
            </div>
        </div> 
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="fill">
                    <mat-label>Title</mat-label>
                    <select matNativeControl required id="title" name="title" class="form-control" placeholder="Select title" required formControlName="title">
                        <option disabled selected value="">Select Title</option>
                        <option *ngFor="let title of titles" value={{title[0]}}>{{title[1]}}</option>
                    </select>
                  </mat-form-field>
            </div>
                <div class="col-sm-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Gender</mat-label>
                        <select id="gender" matNativeControl name="gender" class="form-control" placeholder="Select gender" required formControlName="gender">
                            <option disabled selected value="">Select Gender</option>
                            <option *ngFor="let gender of genders" value={{gender[0]}}>{{gender[1]}}</option>
                          </select>
                      </mat-form-field>
                    <!-- <label for="gender" class="sr-only">Gender<span class="asterisk"> *</span></label>
                    <select id="gender" name="gender" class="form-control" placeholder="Select gender" required formControlName="gender">
                      <option disabled selected value="">Select Gender</option>
                      <option *ngFor="let gender of genders" value={{gender[0]}}>{{gender[1]}}</option>
                    </select> -->
                </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
            <!-- <label for="email">Email: <span class="asterisk"> *</span></label>
            <input type="email" class="form-control" name="email" formControlName="email"> -->
            <mat-form-field class="example-full-width form-group">
                <input matInput placeholder="Email" required type="email" formControlName="email">
            </mat-form-field>
            <span class="asterisk" *ngIf="fg.get('email').touched && fg.get('email').errors?.required">
                Email is required!
            </span>
            <span class="asterisk" *ngIf="fg.get('email').touched && fg.get('email').errors?.email">
                Email is not valid!
            </span>
            </div>
            <div class="form-group col-md-6" *ngIf="this.fg.value.role=='Doctor'">
            <!-- <label for="speciality">Speciality: <span class="asterisk"> *</span></label>
            <input type="text" class="form-control" name="speciality" formControlName="speciality"> -->
            <mat-form-field class="example-full-width form-group">
                <input matInput placeholder="Speciality"  type="text" formControlName="speciality">
            </mat-form-field>
            <span class="asterisk" *ngIf="fg.get('speciality').touched && fg.get('speciality').errors?.required">
                Speciality is required!
            </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <!-- <label for="email">DOB: <span class="asterisk"> *</span></label>                    
                <input type="date" [max]="getToday()" class="form-control" name="dob" formControlName="dob"> -->
                <mat-form-field class="example-full-width form-group">
                    <input matInput placeholder="date of birth" required type="date" formControlName="dob" >
                </mat-form-field>
                <span class="asterisk" *ngIf="fg.get('dob').touched && fg.get('dob').errors?.required">
                    DOB is required!
                </span> 
            </div>
            <div class="col-md-6 form-group" style="display: none;">
                <label for="role">Role: </label><br />
                <label class="radio-inline"><input type="radio" formControlName="role" name="role" value="Doctor" checked>Doctor</label>
                <label class="radio-inline"><input type="radio" formControlName="role" name="role" value="Nurse">Nurse</label>
            </div>
            <div class="form-group col-md-6">
                <!-- <label for="contactno">Contact No: <span class="asterisk"> *</span></label>
                <input type="text" class="form-control" name="contactno" formControlName="contactno"> -->
                <mat-form-field class="example-full-width form-group">
                    <input matInput placeholder="Contact no" required type="contactno" formControlName="contactno">
                </mat-form-field>
                <span class="asterisk" *ngIf="fg.get('contactno').touched && fg.get('contactno').errors?.required">
                    contact no is required!
                </span>            
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <!-- <label for="address">Address: <span class="asterisk"> *</span></label>
                <input type="text" class="form-control" name="address" formControlName="address"> -->
                <mat-form-field class="example-full-width form-group">
                    <textarea matInput placeholder="Enter Address" required type="address" formControlName="address"></textarea>
                </mat-form-field>
                <span class="asterisk" *ngIf="fg.get('address').touched && fg.get('address').errors?.required">
                    Address is required!
                </span>            
            </div>
        </div>
        <div class="form-group text-right">            
            <button id="btnSubmit" class="btn btn-primary" [disabled]="!fg.valid">Save</button>
            <a id="btnCancel" href="javascript:void(0)"  class="btn btn-secondary" (click)="sendMessage()">Cancel</a>
        </div>
    </form>
    
    <h1 style="color: red;">{{msg}}</h1>
    </div>
    <!--<div class="text-center">Already have an account? <a href="#">Sign in</a></div>-->
</div> 
</div>
</div>