table {
    width: 100%;    
  }
  
  .bgColorAdd{  
    color: #0047AB;
    width: 50px;
    height: 50px;
  }
  .bgColor{  
    color: #0047AB;
  }
  .bgColorAdd:hover{  
    width: 55px;
    height: 55px;
    overflow: hidden;
  }
  .btnCenter{
    margin-top: 10px;
    margin-bottom: -20px;
  }
  
  .fontSizeBold{
   font-size: large;
 }
 .ModelPopUpClass{
   background-color: grey;width: 980px;
 }
 .Tableclass th {
  border: 1px solid #ddd;
  font-size: medium;
  color: #000;
  padding-left: 10px;
  background-color: slategray;
 }
 .Tableclass td{
  border: 1px solid #ddd;
  color: black;
  padding-left: 10px;
 }
 .modalTagReg{
  margin-left: -84px;
  text-align: center;
 }
 .person_pin {
  width: 80px;
  margin-left: 0px;
 }
 .avatar{
  float: left;
  padding: 4px;
 }
 
 .ViewPoptable td, th{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
 }