<div class="divclass">
  <div class="form-group">
    <table class="mat-elevation-z8" [ngClass]="{'btnCenter': true}">
      <th>
        <mat-form-field class="example-form-field">
          <!-- <mat-label>Search Block/UnBlock</mat-label> -->
          <input matInput type="text" [(ngModel)]="value" (keyup)="applyFilter()" placeholder="Search here...">
        </mat-form-field>
      <!-- </th>
      <th> -->
        <button class="btn" style="float: right;" (click)="open(content)" [ngClass]="{'bgColorAdd': true}" ><mat-icon>person_add</mat-icon></button>
      </th>        
    </table>
    <!-- <h1 *ngFor="let item of nurseData">
  {{item.FullName}}
</h1> -->
  </div>
<div class="form-group">
<table mat-table [dataSource]="dataSourceNurseData" class="mat-elevation-z8" [ngClass]="{'Tableclass': true}">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->          
    <!-- DrID Column -->
    <ng-container matColumnDef="NurseID">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Nurse ID. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>  
    <!-- FullName Column -->
    <ng-container matColumnDef="FullName">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.FullName}} </td>
    </ng-container>  
    <!-- Date_of_Birth Column -->
    <ng-container matColumnDef="Date_of_Birth">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Date of Birth </th>
      <td mat-cell *matCellDef="let element"> {{element.Date_of_Birth}} </td>
    </ng-container>  
    <!-- EmailID Column -->
    <ng-container matColumnDef="EmailID">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> EmailID </th>
      <td mat-cell *matCellDef="let element"> {{element.EmailID}} </td>
    </ng-container> 
    <!-- ContactNo Column -->
    <ng-container matColumnDef="ContactNo">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> ContactNo </th>
      <td mat-cell *matCellDef="let element"> {{element.ContactNo}} </td>
    </ng-container>  
    <!-- Address Column -->
    <ng-container matColumnDef="Address">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Address </th>
      <td mat-cell *matCellDef="let element"> {{element.Address}} </td>
    </ng-container>
    <!-- Status Column -->
    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Status </th>
      <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
    </ng-container>
    <!-- Blocked_Unblocked Column -->
    <ng-container matColumnDef="Blocked_Unblocked">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Is Locked </th>
      <td mat-cell *matCellDef="let element"> {{element.Blocked_Unblocked}} </td>
    </ng-container>
      <!-- View/Edit/Delete Column -->
     <ng-container matColumnDef="View_Edit_Delete">
      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Actions </th>
      <td mat-cell *matCellDef="let element">
          <button class="btn"  (click)="Viewopen(Viewcontent,element.id )" [ngClass]="{'bgColor': true}" style="float: left;" title="View"><mat-icon>visibility</mat-icon></button>
          <button class="btn" (click)="Editopen(Editcontent,element.id )" [ngClass]="{'bgColor': true}" style="float: left;" title="Edit"><mat-icon>edit</mat-icon></button>
          <button class="btn" (click)="Deleteopen(Deletecontent,element.id )" [ngClass]="{'bgColor': true}" style="float: left;" title="Archive"><mat-icon>delete</mat-icon></button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator [length]="100"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]" style="color: #0047AB; font-size: small;">
</mat-paginator>

</div>

<div class="modalTagReg">
  <!-- Register PopUp -->
  <ng-template #content let-c="close" let-d="dismiss" >    
    <!-- <div class="modal-body" [ngClass]="{'ModelPopUpClass': true}"> -->
      <div class="modal-body" >
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times; &nbsp;</span>
      </button>
      <app-register></app-register>
     </div> 
  </ng-template>
  <!-- Register PopUp -->

 <!-- View By ID PopUp -->
 <ng-template #Viewcontent let-modal>
  <div class="modal-header" *ngIf="UserData">
    <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngFor="let item of UserData">
    <h1 style="text-align: left;">User id:  {{item.id}} </h1>
    <!-- <form *ngFor="let item of dataSourceDoctorData" [(ngModel)]="dataSourceDoctorData"> -->
      <form >    
        <div class="main main-raised" >
          <div class="profile-content">
            <div class="container">
              <div class="row">
                <div class="col-md-12 ml-auto mr-auto">
                  <div class="profile">
                    <div class="avatar">
                      <img src="../../../assets/images/UserProfileIcon.webp" alt="Circle Image" class="img-raised rounded-circle" [ngClass]="{'person_pin': true}">
                    </div>
                    <div class="avatar">
                      <table style="font-family: arial, sans-serif;border-collapse: collapse; width: 100%;" [ngClass]="{'ViewPoptable': true}">
                        <tr>
                          <th>Full Name</th>
                          <th><h3 class="title">{{item.FullName}}</h3></th>                          
                        </tr>
                        <!-- <tr>
                          <th>Specialties</th>
                          <td><h3>{{item.Specialties}}</h3></td>
                        </tr> -->
                        </table>
                    </div>                   
                  </div>
                  <div class="name">                      
                    <!-- <hr/> -->
                    <table class="table table-hover" style="font-family: arial, sans-serif;border-collapse: collapse; width: 100%;" [ngClass]="{'ViewPoptable': true}">
                      <tr>
                        <td>Date of Birth</td>
                        <td>{{item.Date_of_Birth}}</td>                          
                      </tr>
                      <tr>
                        <td>Email Id</td>
                        <td>{{item.EmailID}}</td>
                      </tr>
                      <tr>
                        <td>Phone No.</td>
                        <td>{{item.ContactNo}}g</td>
                      </tr>
                      <tr>
                        <td>Address</td>
                        <td>{{item.Address}}</td>
                      </tr>
                      <tr>
                        <td>Status</td>
                        <td>{{item.Status}}</td>
                      </tr>                        
                    </table>                    
                  </div>
                </div>
              </div>
              <!-- <div class="description text-center">
                <p>An artist of considerable range, Chet Faker — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music, giving it a warm, intimate feel with a solid groove structure. </p>
              </div> -->
              <!-- <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                  <div class="profile-tabs">
                    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                        <i class="material-icons">camera</i>
                        Studio
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                        <i class="material-icons">palette</i>
                        Work
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                        <i class="material-icons">favorite</i>
                        Favorite
                      </a>
                    </li>
                    </ul>
                  </div>
              </div>
            </div>	 -->
            </div>
          </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-outline" (click)="modal.close('Save click')">Save</button> -->
  </div>
</ng-template>
  <!-- View By ID PopUp -->

  <!-- Edit By ID PopUp -->  
  <ng-template #Editcontent let-c="close" let-d="dismiss" >    
    <!-- <div class="modal-body" [ngClass]="{'ModelPopUpClass': true}"> -->
      <div class="modal-body" >
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times; &nbsp;</span>
      </button>
      <app-register [nrId]="NrIdToUpdate"></app-register>
     </div> 
  </ng-template>
  <!-- Edit By ID PopUp -->

   <!-- Delete By ID PopUp -->  
  <ng-template #Deletecontent let-modal>
    <div class="modal-header" *ngIf="UserData">
      <!-- <h4 class="modal-title" id="modal-basic-title">Profile update</h4> -->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngFor="let item of UserData">
      <!-- <h1 style="text-align: left;">User id: {{item.id}} is deleted</h1>        -->
      <!-- <hr> -->
      <h2>Are you sure you want to delete the user:</h2> <h3>{{item.FullName}}</h3>
      <!-- <p>If delete click on delete or Cancel</p> -->
    <!-- </div> -->
    <!-- <button class="btn" [ngClass]="{'bgColor': true}" style="float: left;" title="Delete">Delete</button> -->
    <div class="modal-footer">
      <!-- <button class="btn" [ngClass]="{'bgColor': true}" style="float: left;" title="Delete">Delete</button> -->
      <button type="button" class="btn btn-outline-primary" (click)="SoftDeleteNurseData(item.id)" title="Delete">Delete</button>
      <button type="button" class="btn btn-outline-primary" (click)="modal.close('Save click')" title="Cancel">Cancel</button>
    </div>
  </div>
  </ng-template>
  <!-- Delete By ID PopUp -->
</div>