<div class="main-content">
    <div class="container-fluid">
        <div class="divclass">
            <div>
                <table mat-table [dataSource]="dataSourceAppointmentData" class="table table-striped table-responsive-md">    
                    <ng-container matColumnDef="ID">                      
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Appt ID.</th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>    
                    <ng-container matColumnDef="Description">                      
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Description</th>
                      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="DrID">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> DrID </th>
                      <td mat-cell *matCellDef="let element"> {{element.drDisplayId}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="DrName">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Dr. Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.drname}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="PatientID">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> PatientID </th>
                      <td mat-cell *matCellDef="let element"> {{element.patientDisplayId}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="PatientName">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Patient Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.patientname}} </td>
                    </ng-container>  
                    <ng-container matColumnDef="Date">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Date </th>
                      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                    </ng-container> 
                    <ng-container matColumnDef="Fromtime">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> From Time </th>
                      <td mat-cell *matCellDef="let element"> {{element.fromtime}} </td>
                    </ng-container>      
                    <ng-container matColumnDef="Totime">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> To Time </th>
                      <td mat-cell *matCellDef="let element"> {{element.totime}} </td>
                    </ng-container>
                    <ng-container matColumnDef="View_Edit_Delete">
                      <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Actions </th>
                      <td mat-cell *matCellDef="let element">
                          <!-- <button class="btn" (click)="Viewopen(Viewcontent,element.id )" [ngClass]="{'bgColor': true}" style="color: #0047AB;" title="Approve"><mat-icon>check_circle</mat-icon></button>
                          <button class="btn" (click)="Editopen(Editcontent,element.id )" [ngClass]="{'bgColor': true}" style="color: #0047AB;" title="Reject"><mat-icon>clear</mat-icon></button> -->
              
                          <button class="btn btn-outline-primary" *ngIf="this.role=='doctor'" (click)="openAction(AppointmentAction,element.id,element.patientid,element.drname,element.patientname,element.date,element.fromtime,element.totime,element.drid)">Action</button> 
                          <button class="btn btn-outline-primary" *ngIf="this.role=='doctor' && element.isApproved==true" (click)="open(doctorcontent,element.id,element.patientid)">Patient Visit</button> 
                          <button class="btn btn-outline-primary" *ngIf="this.role=='nurse' && element.isApproved==true" (click)="open(nursecontent,element.id,element.patientid)">Patient Visit</button>           
                          
                      </td>
                    </ng-container>                   
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <mat-paginator [length]="50"
                        [pageSize]="5"
                        [pageSizeOptions]="[5, 10]">
                  </mat-paginator>
            </div>
        </div>

        <div class="modalTagReg">
            <ng-template #doctorcontent let-c="close" let-d="dismiss" >    
              <!-- <div class="modal-body" [ngClass]="{'ModelPopUpClass': true}"> -->
                <div class="modal-body" >
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times; &nbsp;</span>
                </button>
              </div> 
                <app-patient-visit-doctor (parentFun)="receiveMessage()" [aId]="aIdToUpdate" [pId]="pIdToUpdate" ></app-patient-visit-doctor>               
            </ng-template>
            <ng-template #nursecontent let-c="close" let-d="dismiss" >    
              <!-- <div class="modal-body" [ngClass]="{'ModelPopUpClass': true}"> -->
                <div class="modal-body" >
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times; &nbsp;</span>
                </button>
              </div> 
                <app-patient-visit-nurse (parentFun)="receiveMessage()" [pId]="pIdToUpdate" [aId]="aIdToUpdate"></app-patient-visit-nurse>
               
            </ng-template>
            <ng-template #AppointmentAction let-c="close" let-d="dismiss" >    
              <!-- <div class="modal-body" [ngClass]="{'ModelPopUpClass': true}"> -->
                <div class="modal-body" >
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times; &nbsp;</span>
                </button>
                <app-appointment-action (parentFun)="receiveMessage()" [aId]="aIdToUpdate" [pId]="pIdToUpdate" [drname]="drnameToUpdate" 
                [patientname]="patientnameToUpdate" [date]="dateToUpdate" [fromtime]="fromtimeToUpdate"
                [totime]="totimeToUpdate" [drid]="dridToUpdate">
              
              </app-appointment-action>
               </div> 
            </ng-template>
          </div>
    </div>
</div>