/* You can add global styles to this file, and also import other style files */
.avatar1{
    width: 20%;
}
.avatar2{
    width: 80%;
    padding-top: 15px;    
}
.wd27{
width: 27%;
}
.wd73{
    width: 73%;
}