
<div class="row justify-content-center"> 
    <div class="col-md-4 text-center">
      <form *ngIf="!success" #f="ngForm" (ngSubmit)="onSubmit()">
        <img class="mb-4" src="assets/images/PMSlogo.png" alt="" width="125" height="125">
        <h1 class="h3 mb-3 font-weight-normal">Change Password</h1>
        <div class="form-group">
            <label for="oldPassword" class="sr-only">Old Password</label>
            <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="usermodel.oldPassword" class="form-control" placeholder="Old Password" required autoFocus>
        </div>
        <div class="form-group">
            <label for="newPassword" class="sr-only">New Password</label>
            <input type="password" id="newPassword" name="newPassword" [(ngModel)]="usermodel.newPassword" class="form-control" placeholder="New Password" required aria-describedby="passwordHelp">
            <small id="passwordHelp" class="form-text text-muted">Min. 6 characters with at least one non alphanumeric character</small>
        </div>
        <div class="form-group">
            <label for="newPassword" class="sr-only">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="usermodel.confirmPassword" class="form-control" placeholder="Confirm Password" aria-describedby="passwordHelp" required>     
            <small id="passwordHelp" class="form-text text-muted">Min. 6 characters with at least one non alphanumeric character</small>
          </div> 
          <input type="text" hidden id="email" name="email" [(ngmodel)] = "usermodel.email" value='{{userId}}' class="form-control" placeholder="email" [(ngModel)]="usermodel.email">  
        <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="!f.form.valid">Go</button>
        <ngx-spinner></ngx-spinner>   
        <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
            <strong>Oops!</strong> {{error}}
        </div>     
      </form>      
      <div *ngIf="success" class="alert alert-success" role="alert">
          <h4 class="alert-heading">Success!</h4>
          <p>Your passsword reset successfully, <a routerLink="/userlogin" href="/userlogin">Please login</a> to continue.</p>        
      </div>  
    </div> 
  </div>
  <ngx-spinner></ngx-spinner>  
  
  