
    <div class="signup-form">
        <form class="form-group" [formGroup]="userForm" (ngSubmit)="SavePatientDemographicData()">
            <fieldset>
                <legend>Personal :</legend>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6"><label for="firstname">First Name: </label>
                            <input type="text" class="form-control" name="firstname" formControlName="patientfirstname" readonly>
                             <!-- <span class="asterisk" *ngIf="fg.get('firstname').touched && fg.get('firstname').errors?.required">
                                FirstName is required!
                            </span> -->
                        </div>
                        <div class="col-xl-6"><label for="lastname">Last Name: </label>
                            <input type="text" class="form-control" name="lastname" formControlName="patientlastname" readonly>
                            <!-- <span class="asterisk" *ngIf="fg.get('lastname').touched && fg.get('lastname').errors?.required">
                                LastName is required!
                            </span> -->
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" name="email" formControlName="patientemail" readonly>
                    <!-- <span class="asterisk" *ngIf="fg.get('email').touched && fg.get('email').errors?.required">
                        Email is required!
                    </span>
                    <span class="asterisk" *ngIf="fg.get('email').touched && fg.get('email').errors?.email">
                        Email is not valid!
                    </span> -->
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6">
                            <label for="contact">Contact: </label>
                            <input type="text" class="form-control" name="contact" formControlName="patientcontact" readonly>
                            <!-- <span class="asterisk" *ngIf="fg.get('contact').touched && fg.get('contact').errors?.required">
                                Contact is required!
                            </span>
                            <span class="asterisk" *ngIf="fg.get('contact').touched && fg.get('contact').errors?.pattern">
                                Enter 10 digit number only!
                            </span> -->
                        </div>
                        <div class="col-xl-6">
                            <label for="dob">DOB: </label>
                            <input type="text" class="form-control" name="dob" formControlName="patientdob" readonly>
                            <!-- <span class="asterisk" *ngIf="fg.get('dob').touched && fg.get('dob').errors?.required">
                                DOB is required!
                            </span> -->
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Demographics: </legend>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6"><label for="race">Race: </label><input type="text" class="form-control" name="race" placeholder="" formControlName="race"></div>
                        <div class="col-xl-6"><label for="ethnicity">Ethnicity: </label><input type="text" class="form-control" name="ethnicity" placeholder="" formControlName="ethnicity"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6"><label for="languagesknown">Languages Known: </label><input type="text" class="form-control" name="languagesknown" placeholder="" formControlName="languagesKnown"></div>
                        <!-- <div class="col-xl-6"><label for="contact">Contact: </label><input type="text" class="form-control" name="contact" placeholder="" formControlName=""></div> -->
                        <div class="col-xl-6"><label for="address">Address: </label><textarea class="form-control" name="address" formControlName="address"></textarea></div>
                    </div>
                </div>
                <!-- <div class="form-group">
                    <label for="address">Address: </label>
                    <textarea class="form-control" name="address"></textarea>
                </div> -->
            </fieldset>
            <fieldset>
                <legend>Emergency Contact: </legend>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6"><label for="firstname">First Name: </label><input type="text" class="form-control" name="firstname" placeholder="" formControlName="nomineeFirstName"></div>
                        <div class="col-xl-6"><label for="lastname">Last Name: </label><input type="text" class="form-control" name="lastname" placeholder="" formControlName="nomineeLastName"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" class="form-control" name="email" placeholder="" formControlName="nomineeEmail">
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6"><label for="relationship">Relationship: </label><input type="text" class="form-control" name="relationship" placeholder="" formControlName="nomineeRelationship"></div>
                        <div class="col-xl-6"><label for="contact">Contact: </label><input type="text" class="form-control" name="contact" placeholder="" formControlName="nomineeContact"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xl-6">
                            <label for="address">Address: </label><textarea class="form-control" name="address" formControlName="nomineeAddress"></textarea>
                        </div>
                        <div class="col-xl-6">
                            <input type="checkbox" name="sameasabove" formControlName="sameasabove"> Same As Above
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xl-4"><input type="checkbox" name="sameasabove" formControlName="portalaccess"> Do you need access to patient portal? </div>
                    <!-- <mat-radio-group aria-label="Select an option" (change)="onChange($event)"> 
                        <mat-radio-button value="true">Yes</mat-radio-button> 
                        <mat-radio-button value="false" [checked]=true>No</mat-radio-button>
                      </mat-radio-group> -->
                </div>
            </fieldset>
            <fieldset>
                <legend>Allergies: </legend>
                <div class="form-group">
                    <div class="row">
                        <!-- <div class="col-xl-4"><label for="allergytype">Type of allergy: </label><input type="text" class="form-control" name="allergytype" placeholder="" [(ngModel)]="allergyName"></div> -->
                        <div class="col-xl-4"><label for="allergytype">Type of allergy: </label><input type="text" class="form-control" name="allergytype" placeholder="" #allergyInput></div>
                        <div class="col-xl-4"><input type="checkbox" name="sameasabove" (change)="IsFatalCheckEvent($event)"> Is allergy fatal </div>
                        <div class="col-xl-4"><button type="button" class="btn" id="btnSubmit" (click)="SavePatientAllergy(allergyInput.value, $event)">Add</button></div>
                    </div>
                </div>
                <div class="form-group">
                    <!-- <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">SR.NO</th>
                                <th scope="col">Allergy</th>
                                <th scope="col">IsFatal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Dust</td>
                                <td>True</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table> -->
                    <table mat-table [dataSource]="dataSourceAllergyData" class="mat-elevation-z2">
                        <ng-container matColumnDef="id">
                          <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Sr.No </th>
                          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                        </ng-container>  
                        <!-- FullName Column -->
                        <ng-container matColumnDef="allergy">
                          <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> Allergy </th>
                          <td mat-cell *matCellDef="let element"> {{element.allergy}} </td>
                        </ng-container>  
                        <!-- Date_of_Birth Column -->
                        <ng-container matColumnDef="isfatal">
                          <th mat-header-cell *matHeaderCellDef [ngClass]="{'fontSizeBold': true}"> IsFatal </th>
                          <td mat-cell *matCellDef="let element"> {{element.isfatal}} </td>
                        </ng-container> 
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row  *matRowDef="let row; columns: displayedColumns;"></tr>
                      </table>
                </div>
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn" id="btnSubmit">Save</button>
            </div>
        </form>
    </div>
